

:root {
  --gradient: linear-gradient(124deg, #ffac9f, #ff8a8a, #ffeaa6, #fdff71, #9fffaf, #90f9ff, #aaa4ff, #f8abff, #fac1ff);
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 100%;
  background-image: var(--gradient);
  background-size: 300%;
  animation: fadeInAnimation ease 3s, bg-animation 25s infinite;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes bg-animation {
  0% { background-position: left; }
  50% { background-position: right; }
  100% { background-position: left; }
}

  .about-box {
    background: rgba(255, 255, 255, 0.82);
    border-radius: 15px;
    padding: 40px;
    width: 70%;
    margin: auto;
    margin-bottom:40%;
    font-family: Josefin Sans;
    font-size: larger;
    font-weight: 300;
    margin-top: 10%;
  }

  
  /* CSS */
  .button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "Josefin Sans";
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


nav {
  margin: 0;
  background: #f9f9f9;
  padding: 16px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight:bold;
  color: #474747;
}

.menuItems {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menuItems li a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: large;
  transition: all 0.5s ease-in-out;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuItems li a::before {
  content: attr(data-item);
  transition: 0.5s;
  color: #a335ad;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

.menuItems li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}


.resources-box {
  background: white;
  padding-top: 10%;
  padding: 10%;
  width: 70%;
  margin: auto;
  font-family: Josefin Sans;
  font-size: larger;
  font-weight: 300;
  text-align: left;
}


#about-me {
  color: red;
}
#hi-there{
  margin-bottom: 20px;
}
#interview-box-1{
  background: white;
  padding-top: 10%;
  padding: 10%;
  padding-left: 5%;
  width: 70%;
  margin: auto;
  font-family: Josefin Sans;
  font-size: larger;
  font-weight: 300;
  text-align: left;
  border-radius: 15px;
}

#interview-box-2{
  display:none;
  background: white;
  padding-top: 10%;
  padding: 10%;
  padding-left: 5%;
  width: 70%;
  margin: auto;
  font-family: Josefin Sans;
  font-size: larger;
  font-weight: 300;
  text-align: left;
  border-radius: 15px;
}
.response{
  padding-bottom: 2%;
  color:black;
}
.question {
  color: red;
  padding-bottom: 2%;
}
.italics {
  font-style:italic;
}